* {
    box-sizing: border-box;
}

body {
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0;
}

#green {
            height: 100vh;
            background: #9fa19f;
            text-align: center;
            color: black;
            padding: 15px;
        }

#NaVbar {
    background-color: #1da41d;
    width: 100%;
}

.home__description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: black;
}

.trainer__appointment {
    text-decoration: none;
    background: #9fa19f;
    border-radius: 8px;
    border: 2px solid #9fa19f;
    color: #1da41d;
    cursor: pointer;
}

.trainer__appointment:hover,
.trainer__appointment:active {
    background: #1da41d;
    color: #9fa19f;
}
